@page "/auditevents"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using CFMonitor.Constants
@using CFMonitor.EntityWriter
@using CFMonitor.Interfaces
@using CFMonitor.Models
@using CFMonitor.Utilities
@using CFMonitor.UI.Utilities
@using CFUtilities
@using CFUtilities.Utilities
@inject IAuditEventService AuditEventService
@inject IAuditEventTypeService AuditEventTypeService
@inject ISystemValueTypeService SystemValueTypeService
@inject IUserService UserService

@using System.IO
@inject IJSRuntime JS

@rendermode InteractiveServer
@attribute [StreamRendering]
@attribute [Authorize(Roles = "Administrator,User")]

<script>
    window.downloadFileFromStream = async (fileName, contentStreamReference) =>
    {
        const arrayBuffer = await contentStreamReference.arrayBuffer();
        const blob = new Blob([arrayBuffer]);
        const url = URL.createObjectURL(blob);
        const anchorElement = document.createElement('a');
        anchorElement.href = url;
        anchorElement.download = fileName ?? '';
        anchorElement.click();
        anchorElement.remove();
        URL.revokeObjectURL(url);
    }
</script>

<PageTitle>Index</PageTitle>

<h1>Audit Event List</h1>

<ActivityIndicator IsBusy="@IsBusy" />

<p>
    <a href="auditevents/create">Create New</a>
    <button @onclick="DownloadCSVAsync" class="btn btn-primary">Download</button>
    <button @onclick="ResetFiltersAsync" class="btn btn-primary">Reset Filters</button>

    <br />
    <div style="display: inline-block">       
        <label for="auditeventtypeid">Type:</label>
        <InputSelect @bind-Value="@FilterAuditEventTypeId">
            @foreach (AuditEventType auditEventType in AuditEventTypes)
            {
                <option value="@auditEventType.Id">@auditEventType.Name</option>
            }
        </InputSelect>     

        <label for="createdate">Created Time:</label>
        <InputSelect @bind-Value="@FilterCreatedDateRangeId">
            @foreach (DateRangeFilter dateRangeFilter in CreatedDateRangeFilters)
            {
                <option value="@dateRangeFilter.Id">@dateRangeFilter.Name</option>
            }
        </InputSelect>
    </div>
</p>

@if (AuditEventsQueryable == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <QuickGrid Class="table" Items="@AuditEventsQueryable" Pagination="@Pagination">
        <PropertyColumn Title="Created Time" Property="auditevent => auditevent.CreatedDateTime" />        

        <TemplateColumn Title="Type" Context="auditevent">
            <ImageAndText ImageSource="@(GetAuditEventTypeImageSource(auditevent))" Text="@(GetAuditEventTypeName(auditevent))" />
        </TemplateColumn>      

        <TemplateColumn Context="auditevent">        
            <a href="@($"auditevents/details?id={auditevent.Id}")">Details</a>        
        </TemplateColumn>
    </QuickGrid>

    <Paginator State="@Pagination" />
}

@code {
    private List<AuditEventType> AuditEventTypes = new();   
    private List<SystemValueType> SystemValueTypes = new();    

    private PaginationState Pagination = new PaginationState() { ItemsPerPage = ConfigUtilities.ItemsPerListPage };

    private IQueryable<AuditEvent>? AuditEventsQueryable;

    private List<DateRangeFilter> CreatedDateRangeFilters = new(); 

    private bool IsBusy { get; set; }

    // Filter on issue status
    private string _filterAuditEventTypeId = UIUtilities.AnyId;
    public string FilterAuditEventTypeId
    {
        get { return _filterAuditEventTypeId; }
        set
        {
            if (_filterAuditEventTypeId != value)
            {
                _filterAuditEventTypeId = value;
                RefreshAuditEvents();
            }
        }
    }

    // Filter on created
    private string _filterCreatedDateRangeId = String.Empty;
    public string FilterCreatedDateRangeId
    {
        get { return _filterCreatedDateRangeId; }
        set
        {
            if (_filterCreatedDateRangeId != value)
            {
                _filterCreatedDateRangeId = value;
                RefreshAuditEvents();
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        IsBusy = true;

        AuditEventTypes = AuditEventTypeService.GetAll();        
        SystemValueTypes = SystemValueTypeService.GetAll();
        
        CreatedDateRangeFilters = UIUtilities.GetDateRangeFilters();
        _filterCreatedDateRangeId = CreatedDateRangeFilters.First().Id;

        // Add Any option
        UIUtilities.AddAny(AuditEventTypes);

        RefreshAuditEvents();
    }

    private string GetAuditEventTypeName(AuditEvent auditEvent)
    {
        return AuditEventTypes.First(t => t.Id == auditEvent.TypeId).Name;
    }

    private string GetAuditEventTypeImageSource(AuditEvent auditEvent)
    {
        return $"../images/audit_event_types/{AuditEventTypes.First(t => t.Id == auditEvent.TypeId).ImageSource}";
    }  

    private void RefreshAuditEvents()
    {
        IsBusy = true;

        // Get audit events
        AuditEventsQueryable = (AuditEventService.GetByFilter(GetAuditEventFilter()))
                    .OrderBy(e => e.CreatedDateTime)
                    .AsQueryable();
  

        IsBusy = false;

        //if (notifyStateHasChanged) StateHasChanged();
    }

    private AuditEventFilter GetAuditEventFilter()
    {
        var createdDateRange = this.CreatedDateRangeFilters.First(f => f.Id == FilterCreatedDateRangeId);

        // Set filter
        var auditEventFilter = new AuditEventFilter()
            {
                CreatedDateTimeFrom = createdDateRange.FromDate == DateTimeOffset.MinValue ? null : createdDateRange.FromDate,
                CreatedDateTimeTo = createdDateRange.ToDate == DateTimeOffset.MaxValue ? null :  createdDateRange.ToDate,                
                AuditEventTypeIds = (FilterAuditEventTypeId == UIUtilities.AnyId ? null : new() { FilterAuditEventTypeId }),                
            };
        return auditEventFilter;
    }

    private async Task DownloadCSVAsync()
    {        
        using (var session = new DisposableActionsSession())
        {
            IsBusy = true;
            session.AddAction(() => IsBusy = false);

            // Get file stream
            var tempFile = Path.GetTempFileName();
            session.AddAction(() =>
            {
                if (File.Exists(tempFile)) File.Delete(tempFile);
            });

            var entityWriter = new CSVAuditEventWriter(tempFile, (Char)9, System.Text.Encoding.UTF8, 
                                                    AuditEventTypeService);

            entityWriter.Write(AuditEventsQueryable.ToList());
            var fileStream = File.OpenRead(tempFile);

            using var streamRef = new DotNetStreamReference(stream: fileStream);

            await JS.InvokeVoidAsync("downloadFileFromStream", "AuditEvents.txt", streamRef);
        }
    }

    private async Task ResetFiltersAsync()
    {
        _filterCreatedDateRangeId = CreatedDateRangeFilters.First().Id;        
        _filterAuditEventTypeId = UIUtilities.AnyId;        

        RefreshAuditEvents();
    }    

    //public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
